@using APP.Business.Services;
@inject IBlogService _blogService;
<aside class="r_box">
    <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            @foreach (var channel in _blogService.GetChannels())
            {
                <li><a href="/c/@channel.Id">@channel.Title</a></li>
            }
        </ul>
    </div>
    <div class="tuijian">
        <h2 id="tab"><a href="#" class="current">点击排行</a></h2>

        <div id="content">
            <ul style="display: block;">

                @foreach (var article in _blogService.GetHotArticles())
                {
                    <li><a href="/p/@article.Id" title="@article.Title" target="_blank">@article.Title</a></li>
                }
            </ul>
        </div>
    </div>

</aside>