<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index"><i class="fa fa-home"></i> 管理面板 <span class="badge badge-info">主页</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                内容管理
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" asp-controller="Channel" ><i class="fa fa-list-alt"></i> 栏目管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="components-buttons.html"><i class="icon-puzzle"></i> 添加栏目</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>