@inherits LayoutComponentBase

<header id="header">
    <div class="navbar">
        <div class="foryou">
            <p class="luck">@(Jiuban.Fate.Lucky)</p>
        </div>
    </div>
    <div class="header-navigation">
        <nav>
            <div class="logo"><a href="/">遇见时光</a></div>
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="starlist">
                <li><a href="/">网站首页</a></li>
                <li><a href="timeline">时间轴</a></li>
            </ul>
            <div class="searchbox">
                <div id="search_bar" class="search_bar">
                    <form id="searchform" method="post" name="searchform">
                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                        <input type="hidden" name="show" value="title" />
                        <input type="hidden" name="tempid" value="1" />
                        <input type="hidden" name="tbname" value="news">
                        <input type="hidden" name="Submit" value="搜索" />
                        <p class="search_ico"> <span></span></p>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<article>
    <main>
        @Body
    </main>
    <RightSide />
</article>
<footer>
    <p>Copyright ©2018</p>
</footer>
<a href="#" class="cd-top">Top</a>